langgraph
langchain
langchain-google-genai
langchain-groq

langchain-tavily
tavily-python

fastapi
uvicorn

psycopg[binary,pool]
langgraph-checkpoint-postgres

python-dotenv

requests
airportsdata
pycountry

